<h1>file explorer</h1>

<div class="breadcrumb">
    Current Path: <a href="/folders">Root</a>
    <% if(currentPath && currentPath.length>0) {%>
        <%currentPath.forEach(path=>{%>
            <%if(path.id !== null) {%>
                <span>&gt;</span>
                <a href="/folders/<%=path.id%>"><%=path.name%></a>
            <%}%>
        <%})%>
    <%}%>
</div>

<div>
    <button id="createFolderBtn">Create Folder</button>
    <a href="/upload<%=currentFolderId!==null?'?folderId='+currentFolderId:''%>"</a><button>Upload File</button></a>
</div>

<h2>folders</h2>
<div id="folderList">
    <%if(folders&&folders.length>0) {%>
        <%folders.forEach(folder=>{%>
            <li class="folder-item">
                <span class="item-name"><%=folder.name%></span>
                <div class="item-buttons">
                    <button onclick="openFolder(<%=folder.folder_id%>)">Open</button>
                    <button onclick="editFolder(<%=folder.folder_id%>, '<%=folder.name%>')">Edit</button>
                </div>
            </li>
        <%})%>
    <%} else {%>
        <p>No subfolder here.</p>
    <%}%>
</div>


<script>
    document.getElementById("createFolderBtn").addEventListener('click',()=>{
        const folderName = prompt('Enter name Please');
        if(folderName){
            //get parent id, it can be null
            const parentId = '<%=currentFolderId%>';
            fetch('/folders',{
                method: 'POST',
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded',
                },
                body: `name=${encodeURIComponent(folderName)}&parentId=${encodeURIComponent(parentId)}`
            })
            .then(response=>{
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error('Failed to create folder: ',response)
                    alert('Fail to create folder.');
                }
            }) //then
        } // if 
    })
    //open folder function
    function openFolder(folderId) {
        window.location.href=`/folders/${folderId}`;
        console.log('clicked')
    }
    // edit folder function
    function editFolder(folderId,currentName) {
        const newName = prompt('Enter new name: ',currentName);
        if(newName&&newName!==currentName) {
            fetch(`/folders/${folderId}/edit`,{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `name=${encodeURIComponent(newName)}`,
            })
            .then(response=>{
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error('Failed to edit folder: ',response)
                    alert('Failed to edit folder.')
                }
            });
        }
    }
</script>